/* Custom properties */

/* = Font = */
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

:root {
    /* = Colors = */
    /* Primary */
    --tomato: hsl(4, 100%, 67%);
    --tomato-light: hsla(4, 100%, 67%, 0.2);
    --btn-gradient: linear-gradient(90deg, 
    hsl(346, 100%, 66%), 
    hsl(13, 100%, 62%));
    /* Neutral */
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    /* = Font = */
    --ff: "Roboto", sans-serif;
    --fs: 1rem; /* Paragraph */
}

html, body {
    height: 100vh;
}

/* = Styles = */
body {
    font-family: var(--ff);
    font-size: var(--fs);
    background-color: var(--charcoal-grey);
    color: var(--dark-slate-grey);
    height: 100%;
    position: relative;
}

#wrapper {
    height: fit-content;
}

#subscribe {
    background-color: var(--white);
    overflow: hidden;
}

/* Subscribe content */
#content_title {
    font-size: calc(var(--fs) * 2.375);
    margin-block: 2.5rem 1rem;
}

#content_features_list {
    padding-inline-start: 2.5rem;
    gap: .75rem;
    position: relative;
}

li {
    list-style-type: none;
}

li::before {
    content: "";
    position: absolute;
    left: .125rem;
    background: url(../assets/images/icon-list.svg) no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}

#form {
    margin-block: 2.5rem;
}

#form_label {
    font-size: calc(var(--fs) / 1.45);
}

#form_label span {
    transition: all .5s ease-in-out;
    color: var(--tomato);
    visibility: hidden;
    opacity: 0;
}

#form_email::placeholder {
    color: var(--grey);
}

#form_email:invalid {
    border-color: var(--tomato);
    color: var(--tomato);
    background-color: var(--tomato-light);
}

#form_email:invalid::placeholder {
    color: var(--tomato);
}

#form_btn,
#success_btn {
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-size: calc(var(--fs) / 1.05);
    border: none;
    border-radius: .5rem;
}

#form_btn {
    margin-bottom: 2.75rem !important;
}

/* Success */

#success {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 9rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: var(--white);
}

#success_img {
    max-width: 4rem;
}

#success_title {
    font-size: calc(var(--fs) * 2.375);
}

#success_btn {
    margin-bottom: 3.5rem;
}

/* Media queries */
@media screen and (min-width: 768px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #subscribe {
        padding: 1.5rem;
        padding-left: 2.5rem;
        border-radius: 2rem;
    }

    #subscribe {
        gap: 2.5rem;
    }

    #subscribe_content {
        max-width: 23.5rem;
        margin-bottom: 1.5rem;
    }

    #content_title {
        font-size: calc(var(--fs) * 3.25);
    }

    #form_btn:hover, 
    #success_btn:hover {
        background: var(--btn-gradient);
        background-position-x: -25rem;
        background-repeat: no-repeat;
        animation: gradientAnimation 1s ease-in-out forwards;
    }

    #success {
        padding-block: 3rem;
        padding-inline: 4rem !important;
        max-width: 31rem;
        margin-block: auto;
        height: fit-content;
        border-radius: 2rem;
    }

    #success_title {
        font-size: calc(var(--fs) * 3.25);
    }

    #success_btn {
        margin-top: 1.5rem !important;
        margin-bottom: 0 !important;
        width: 100%;
    }
}

/* Animations */
@keyframes cardRotationHide {
    from {
        transform: rotateY(0deg);
        backface-visibility: visible;
        -webkit-backface-visibility: visible;
    }

    to {
        transform: rotateY(180deg);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
}

@keyframes cardRotationShow {
    from {
        transform: rotateY(180deg);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    to {
        transform: rotateY(0deg);
        backface-visibility: visible;
        -webkit-backface-visibility: visible;
    }
}

@keyframes gradientAnimation {
    from {
        background-position-x: -25rem;
    }

    to {
        background-position-x: 0;
        box-shadow: 0 1rem 1.5rem -.5rem var(--tomato);
    }
}
